.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 10px auto;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  display: flex;
}

.card-left-row {
  width: 30%;
  height: 100%;
  float: left;
}

.book-cover {
  max-height: 100%;
  max-width: 100%;
}

.card-right-row {
  margin-left: 10px;
  width: 70%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
}
